In [1]:
import pandas as pd

In [2]:
s = pd.Series( [1,2,3,4,5] )

In [3]:
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
f = pd.Series( ["pizza" , "ham" , "beef" , "street" , "mo"] )

S = pd.Series( f , index = s )

In [6]:
print(S)

1       ham
2      beef
3    street
4        mo
5       NaN
dtype: object

## DataFrame : SQL Table with rows and columns with automatic indexing
### OR 

## A dictionary ( hashtable ) of Series , mapping tuples to indices 

### 1 , ( Age , Name , Score ) 
 ### Columns can be of different types like a SQL table

### How can we run queries on data frames 
### for ex : select name from table where age = 20 AND name = "Ahmed"

In [7]:
import numpy as np

In [8]:
my_numpy_array=np.random.randn(3,4)
df=pd.DataFrame(my_numpy_array, columns=list("abcd"))
print(df)

          a         b         c         d
0  0.848521  1.031693  0.341147  0.810202
1 -0.273455 -0.062677  0.236969 -0.510614
2  2.603623  1.201768 -1.873877 -0.134363

In [9]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}

In [10]:
df = pd.DataFrame(data)

In [11]:
df.to_csv('Data.csv')

In [12]:
new_data = read_csv('Data.csv')

NameError: name 'read_csv' is not defined

In [13]:
new_data = pd.read_csv('Data.csv')

In [14]:
new_data.head(3)

   Unnamed: 0   Name  Age
0           0    Tom   20
1           1   nick   21
2           2  krish   19

In [15]:
new_data.drop( 'Unnamed: 0' , axis = 1 )

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [16]:
new_data['Age'].describe()

count     4.000000
mean     19.500000
std       1.290994
min      18.000000
25%      18.750000
50%      19.500000
75%      20.250000
max      21.000000
Name: Age, dtype: float64

In [17]:
new_data['Name'].describe()

count       4
unique      4
top       Tom
freq        1
Name: Name, dtype: object

In [18]:
new_data[ 'age' < 20 ]

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
new_data['Age']

0    20
1    21
2    19
3    18
Name: Age, dtype: int64

In [20]:
selectAge = new_data['Age']

In [21]:
filtAge = ( selectAge <20 )

In [22]:
print(filtAge)

0    False
1    False
2     True
3     True
Name: Age, dtype: bool

In [23]:
print( selectAge[filtAge] )

2    19
3    18
Name: Age, dtype: int64

In [24]:
filtAge2 = ( selectAge = 19 or selectAge = 21 )

SyntaxError: invalid syntax (<ipython-input-24-05a5e60e51bf>, line 1)

In [25]:
filtAge2 = ( selectAge = 19 )

SyntaxError: invalid syntax (<ipython-input-25-707b32b8fd75>, line 1)

In [26]:
filtAge2 = ( selectAge == 19 or selectAge == 20 )

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [27]:
filtAge2 = ( selectAge == 19 )

In [28]:
filtAge3 = ( selectAge == 20 )

In [29]:
help(np.intersect1d)

Help on function intersect1d in module numpy:

intersect1d(ar1, ar2, assume_unique=False, return_indices=False)
    Find the intersection of two arrays.

    Return the sorted, unique values that are in both of the input arrays.

    Parameters
    ----------
    ar1, ar2 : array_like
        Input arrays. Will be flattened if not already 1D.
    assume_unique : bool
        If True, the input arrays are both assumed to be unique, which
        can speed up the calculation.  If True but ``ar1`` or ``ar2`` are not
        unique, incorrect results and out-of-bounds indices could result.
        Default is False.
    return_indices : bool
        If True, the indices which correspond to the intersection of the two
        arrays are returned. The first instance of a value is used if there are
        multiple. Default is False.

        .. versionadded:: 1.15.0

    Returns
    -------
    intersect1d : ndarray
        Sorted 1D array of common and unique elements.
    comm1 : ndarray
        The indices of the first occurrences of the common values in `ar1`.
        Only provided if `return_indices` is True.
    comm2 : ndarray
        The indices of the first occurrences of the common values in `ar2`.
        Only provided if `return_indices` is True.


    See Also
    --------
    numpy.lib.arraysetops : Module with a number of other functions for
                            performing set operations on arrays.

    Examples
    --------
    >>> np.intersect1d([1, 3, 4, 3], [3, 1, 2, 1])
    array([1, 3])

    To intersect more than two arrays, use functools.reduce:

    >>> from functools import reduce
    >>> reduce(np.intersect1d, ([1, 3, 4, 3], [3, 1, 2, 1], [6, 3, 4, 2]))
    array([3])

    To return the indices of the values common to the input arrays
    along with the intersected values:

    >>> x = np.array([1, 1, 2, 3, 4])
    >>> y = np.array([2, 1, 4, 6])
    >>> xy, x_ind, y_ind = np.intersect1d(x, y, return_indices=True)
    >>> x_ind, y_ind
    (array([0, 2, 4]), array([1, 0, 2]))
    >>> xy, x[x_ind], y[y_ind]
    (array([1, 2, 4]), array([1, 2, 4]), array([1, 2, 4]))

In [30]:
np.intersect1d( selectAge[filtAge2] , selectAge[filtAge3] )

array([], dtype=int64)

In [31]:
selectAge[filtAge2]

2    19
Name: Age, dtype: int64

In [32]:
selectAge[filtAge3]

0    20
Name: Age, dtype: int64

In [33]:
new_data.loc(['Tom'])

TypeError: unhashable type: 'list'

In [34]:
new_data.loc[['Tom']]

KeyError: "None of [Index(['Tom'], dtype='object')] are in the [index]"

### how to select tuple quickly with index 
#### data.loc[ ] doesn't work

In [35]:
new_data.set_index( 'Name' )

       Unnamed: 0  Age
Name
Tom             0   20
nick            1   21
krish           2   19
jack            3   18

In [36]:
new_data.loc[ ['Tom'] ]

KeyError: "None of [Index(['Tom'], dtype='object')] are in the [index]"

In [37]:
new_data.loc["John"]

KeyError: 'John'

In [38]:
new_data[ new_data["Name"] ==  ]

SyntaxError: invalid syntax (<ipython-input-38-457a3b5557bc>, line 1)

In [39]:
new_data[ new_data["Name"] == "Tom" ]

   Unnamed: 0 Name  Age
0           0  Tom   20

### Creating New column based on old Colums

##### new_data["NewCol"] = new_data["Name"] + " " + new_data["lastName

### Concatenate DataFrames

#### new = pd.concat( data1 , data2)