<a href="https://colab.research.google.com/github/mohamedamr13/gmc/blob/main/Workshop_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Go My Code Education Management System*

### Go My Code education system is essentially composed of instructors that supervise students and students that follow some courses.

### Let's consider that a person is defined respectively by : 
- A first name
- A last name
- An Id Card Number

## Instructors Management:

#### *Knowing that these informations never change, use a suitable data structure to represent a person* :

In [ ]:
defperson=("first name","last name", "Id card number")

#### *Create now a list that contains 3 instructors* :

In [2]:
lisIns = []
ins1 = ( "mohamed" , "amr" , "3607" )
ins2 = ( "ahmed" , "ameer" , "8900" )
ins3 = ( "joe" , "hassan" , "0900" )
lisIns.append(ins1)
lisIns.append(ins2)
lisIns.append(ins3)
lisIns

[('mohamed', 'amr', '3607'),
 ('ahmed', 'ameer', '8900'),
 ('joe', 'hassan', '0900')]

#### *Order the instructors by Last Name (Asc)* :

In [ ]:
defperson1=("aziza","amri",234)
defperson2=("azza","assi",934)
defperson3=("ali","balti",934)
liste= [defperson1,defperson2,defperson3]
print(liste)
liste.sort()

#### *Display the instructor that has the shortest Last Name* (Desc) :

In [5]:
# Your Code Here
lisIns = []
ins1 = ( "mohamed" , "amr" , "3607" )
ins2 = ( "ahmed" , "ar" , "8900" )
ins3 = ( "joe" , "hassan" , "0900" )
lisIns.append(ins1)
lisIns.append(ins2)
lisIns.append(ins3)
lisIns
min = 999999999
shortest = 0
for ins in lisIns:
  if len(ins[1]) < min:
    min = len(ins[1])
    shortest = ins

shortest

('ahmed', 'ar', '8900')

## Courses & Students Management:

#### *Courses storage must not contain duplicates. Represent it with the suitable Data Structure (at least 3 courses)* :

In [47]:
# Your Code Here
courses = ( (1,"cs") )

#### *Create two students and affect "Intro to Data Science" to their courses sets (from the courses set):*

In [18]:
# Your Code Here
courses = ( (1,"cs") , ( 2 , "Intro to Data Science" ) )

st1 = ( "joe" , "amr" , 123 )
st2 = ( "ahmed" , "abdelsallam" , 892 )

courses[1][1]

studentTakeCourse = { st1[2]: courses[1][1] , st2[2]:courses[1][1]  }

studentTakeCourse

{123: 'Intro to Data Science', 892: 'Intro to Data Science'}

#### *Map Every student to his courses* (Use a data structure to represent the courses management):

In [46]:
# Your Code Here

courses = ( (1,"cs") , ( 2 , "Intro to Data Science" ) )

st1 = ( "joe" , "amr" , 123 )
st2 = ( "ahmed" , "abdelsallam" , 892 )

studentTakeCourse = dict()

def registerStudent(st1):
 studentTakeCourse[st1] = []

def enrollinCourse( st1 , course ):
       studentTakeCourse[st1].append(course)


def quitCourse( st , course ):
    studentTakeCourse[st1].remove(course)


registerStudent(st1)
enrollinCourse( st1 , courses[1] )
enrollinCourse( st1 , courses[0] )

studentTakeCourse

quitCourse( st1 , courses[0] )

studentTakeCourse

{('joe', 'amr', 123): [(2, 'Intro to Data Science')]}

#### *Display the students following "Intro to Data Science" course*:

In [49]:
# Your Code Here
courses = ( (1,"cs") , ( 2 , "Intro to Data Science" ) , ( 3 , "Math" ) )

st1 = ( "joe" , "amr" , 123 )
st2 = ( "ahmed" , "abdelsallam" , 892 )
st3 = ( "ahmed" , "abdelsallam" , 986 )
st4 = ( "ahmed" , "abdelsallam" , 300 )

students = [ st1, st2 , st3 , st4]


courses[1][1]

studentTakeCourse = { st1[2]: courses[1][1] , st2[2]:courses[1][1] , st3[2]:courses[0][1] , st4[2]:courses[2][1] }
studentTakeCourse

getDataScience = lambda a : a=="Intro to Data Science"



# getID = lambda st , id : st[2] == id


def isIdRight ( st , id ):
  return st[2] == id


resStudent = 0

def getStudent( students , id ):
 for student in students:
   if( isIdRight(student , id) ):
     return student


def getDataScienceStudent ( studentTakeCourse ):
  res = []
  for key in studentTakeCourse.keys():
    if  getDataScience ( studentTakeCourse.get(key) ) :
         res.append( getStudent(students,key) )
    
  return res


getDataScienceStudent(studentTakeCourse)

[('joe', 'amr', 123), ('ahmed', 'abdelsallam', 892)]